**
!Dockerfile
!package.json
!package-lock.json
!tsconfig.json
!vite.config.ts
!index.html
!components.json
!scripts/
!scripts/copy-vendor.mjs
!src/
!src/**
!public/
!public/**
!backend/
!backend/**
!ezpz.py
!requirements.lock
!LICENSE
!EXTEND-LICENSE.md
!licenses/
!licenses/**
**/__pycache__
**/*.pyc
backend/tests
public/vendor/*.wasm
